/*font-family: 'Knewave', cursive;
font-family: 'Roboto', sans-serif;*/


body {
    background-color: #737373;
    font-family: 'Roboto';
}

.card {
    background-color: #363636;
    color: #FFF;
}

.container {
    
}

text {
    font-family: 'Knewave', cursive;
}

h1 {
    font-family: 'Knewave', cursive;
}

h2 {
    font-family: 'Knewave', cursive;
}

h5 {
    font-family: 'Knewave', cursive;
}

.navbar {
    background-image: linear-gradient(-90deg, #008FFF, #F565FF);
}

.navbar-brand img {
    height: 150px;
    width: 150px;
}

.btn {
    background-color: #008FFF;
}

#ip1 {
    border-radius: 25px;
    border: 2px solid #black;
    padding: 20px; 
    width: 200px;
    height: 15px
}

.border {
    background-color: #fff;    
    height: 100px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5) ;
}

.border h1 {
    color: 363636;
}