#hrefs{
    text-align: right;
    margin-top: 5%
}
#instructions{
    text-align: center
}
#mainpara{
    text-align: center;

}
body{
    background-color: lightgray;
}
#main{
    background-color: whitesmoke;
    
    border: 5px groove gray;
    padding: 40px
}